# Core functionality - changes here should be rare!
/src/app.py                   @CyberHippo
/src/backend/database.py      @CyberHippo
/src/backend/routers/auth.py  @CyberHippo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @CyberHippo
